<h1>アカウントメニュー</h1>
<ul class ="yado_menu">
  <li><%= link_to "宿を探す", search_path,{class: "yado_link button"} %> </li>
  <li><%= link_to "宿を提供する", new_inn_path,{class: "yado_link button"} %></li>
</ul>
<div class="user_info_container">
  <div><img class="user_image" src="<%= "/user_images/#{@user.image_name}" %>"></div>
  <table>
    <tr>
      <th>
        <%= "氏名" %>
      </th>
      <td>
        <%= @user.name %>
      </td>
    </tr>
    <tr>
      <th>
        <%= "アカウント名" %>
      </th>
      <td>
        <%= @user.account_name %>
      </td>
    </tr>
    <tr>
      <th>
        <%= "メールアドレス" %>
      </th>
      <td>
        <%= @user.email %>
      </td>
    </tr>
    <tr>
      <th>
        <%= "電話番号" %>
      </th>
      <td>
        <%= @user.phone_number %>
      </td>
    </tr>
    <tr>
      <th>
        <%= "自己紹介" %>
      </th>
      <td>
        <%= @user.introduction %>
      </td>
    </tr>
  </table>
</div>
<div>
  <ul class="account_menu">
    <li><%= link_to "アカウント情報を編集", edit_user_path %></li>
    <li><%= link_to "アカウント削除", user_path, method: :delete, data: {confirm: "本当に削除しますか？"} %></li>
  </ul>
</div>
<h1>予約情報</h1>
<table>
  <% if @user.reservations.size==0 %>
    <tr>
      <td>
        <p>予約はありません</p>
      </td>
    </tr>
   <% else %>
    <tr>
      <th>宿名</th>
      <th>チェックイン日</th>
      <th>チェックアウト日</th>
      <th>人数</th>
      <th>変更</th>
      <th>取消</th>
    </tr>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.inn.name %></td>
        <td><%= reservation.check_in %></td>
        <td><%= reservation.check_out %></td>
        <td><%= reservation.number_of_people %></td>
        <td><%= link_to "変更", edit_reservation_path(reservation.id) %></td>
        <td><%= link_to "取消", reservation_path(reservation.id), method: :delete, data: {confirm: "本当にキャンセルしますか？"} %></td>
      </tr>
    <% end %>
  <% end %>
</table>
<h1>My 宿</h1>
<table>
  <% if @user.inns.size==0 %>
    <tr>
      <td>
        <p>提供中の宿はありません</p>
      </td>
    </tr>
  <% else %>
    <% @user.inns.each do |inn| %>
      <tr>
        <td><%= link_to inn.name, inn_path(inn.id) %></td>
      </tr>
    <% end %>
  <% end %>
</table>
      
