<h1>予約情報入力</h1>
<% @reservation.errors.full_messages.each do |message| %>
  <p class="error_message">
    <%= message %>
  </p>
<% end %>
<div class="inn_form">
  <%= form_with model: @reservation, url: "/reservations/confirm" do |f| %>
    <table>
      <tr>
        <th>宿名</th>
        <td><%= @inn.name %></td>
      </tr>
      <tr>
        <th><%= f.label :name, "代表者名" %></th>
        <td><%= f.text_field :name, value: @reservation.name %></td>
      </tr>
      <tr>
        <th><%= f.label :number_of_people, "人数" %></th>
        <td><%= f.number_field :number_of_people, value: @reservation.number_of_people %></td>
      </tr>
      <tr>
        <th><%= f.label :check_in, "チェックイン" %></th>
        <td><%= f.date_field :check_in, value: @reservation.check_in %></td>
      </tr>
      <tr>
        <th><%= f.label :check_out, "チェックアウト" %></th>
        <td><%= f.date_field :check_out, value: @reservation.check_out %></td>
      </tr>
      <tr>
        <td></td>
        <%= f.hidden_field :user_id, value: session[:user_id] %>
        <%= f.hidden_field :inn_id, value: @inn.id %>
        <td><%= f.submit "確認" %></td>
      </tr>
    </table>
  <% end %>
</div>